<link rel="stylesheet" href="/styles/jsvectormap.min.css" />
<script src="/scripts/jsvectormap.js"></script>
<script src="/scripts/world.js"></script>
<script src="/scripts/apex-charts.js"></script>

<style>
    .dashboard-block {
        display: flex;
        flex-direction: column;
        background: white;
        border-radius: 0.375rem;
        padding: 0.5rem;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        /* animation: scale-in-center; */
    }

    .col-full {
        flex: 0 0 auto;
        width: 100%;
    }

    .pillar {
        width: 100%;
        height: 100%;
    }
</style>

<% let titles="fs-5 fw-bold d-flex align-items-center gap-1" ; let description_classes="text-secondary mb-2" ; let
    circle_info_styles="fa fa-circle-info text-muted cursor-help ms-1 small" ; %>

    <!-- eps row -->
    <div class="col-full">
        <div class="m-0 p-0" id="notices-container">
            <div class="spinner-grow" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="p-3 bg-white rounded shadow-sm overflow-hidden" style="height: 185px;">
            <div class="d-flex justify-content-between mb-2">
                <div class="<%= titles %>">
                    <img src="/images/icons/logs.png" alt="" height="30">
                    TPS
                    <i title="Live Events Tracking displays the time series graph of events received."
                        class="<%= circle_info_styles %>"></i>
                </div>
                <div class="btn-group toggle-block">
                    <button class="btn btn-sm btn-tab px-3" onclick="changeEPS('1h', 'bar')" title="Event Per Minute">
                        <i class="fa fa-clock"></i>
                        EPM
                    </button>
                    <button class="btn btn-sm btn-tab-off px-3" onclick="changeEPS('1d', 'area')"
                        title="Event Per Hour">
                        <i class="fa fa-clock"></i>
                        EPH
                    </button>
                </div>
            </div>
            <div id="events-per-sec"></div>
        </div>
    </div>

    <!-- ticket status row -->
    <div class="col-full">
        <div class="d-flex gap-2 m-0">
            <div id="ticket-container" class="dashboard-block col-md-3 ">
                <div class="d-flex justify-content-between mb-2">
                    <div class="<%= titles %>">
                        <img src="/images/icons/ticket.png" alt="" height="30">
                        Ticket Status
                        <i title="Ticket Status displays the total number of open and closed tickets from the last 24 hours."
                            class="<%= circle_info_styles %>"></i>
                    </div>
                    <div>
                        <a class="btn btn-sm rounded-pill btn-outline-secondary" href="/dashboard/tickets">
                            <i class="fa fa-external-link"></i>
                        </a>
                    </div>
                </div>
                <div class="row gx-1 fw-bold h-100 ticket-boxes">
                    <div
                        class="col-md text-center border-bottom border-5 border-info d-flex align-items-center justify-content-center slide-in-bottom">
                        <a href="/dashboard/tickets?tab=open" class="reset-a">
                            <div id="open-ticket-count" class="fs-4">
                                <div class="spinner-grow" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            <small>Open</small>
                        </a>
                    </div>
                    <div
                        class="col-md text-center border-bottom border-5 border-danger d-flex align-items-center justify-content-center slide-in-top">
                        <a href="/dashboard/tickets?tab=closed" class="reset-a">
                            <div id="closed-ticket-count" class="fs-4">
                                <div class="spinner-grow text-primary" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            <small class="">Closed</small>
                        </a>
                    </div>
                    <div
                        class="col-md text-center border-bottom border-5 border-secondary d-flex align-items-center justify-content-center slide-in-bottom">
                        <a href="/dashboard/tickets?tab=expired" class="reset-a">
                            <div id="expired-ticket-count" class="fs-4">
                                <div class="spinner-grow text-primary" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            <small>Expired</small>
                        </a>
                    </div>
                    <div
                        class="col-md text-center border-bottom border-5 border-primary d-flex align-items-center justify-content-center rounded-r slide-in-top">
                        <a href="/dashboard/tickets?tab=all" class="reset-a ">
                            <div id="all-ticket-count" class="fs-4">
                                <div class="spinner-grow" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            <small>All</small>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12" id="transaction-container">
                <div class="card shadow h-100">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h5 class="card-title fw-bold">
                                    Transaction Information
                                </h5>
                            </div>
                            <div>
                                <a class="btn btn-sm rounded-pill btn-outline-secondary" href="/dashboard/tickets">
                                    <i class="fa fa-external-link"></i>
                                </a>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                            <!-- Inward Amount -->
                            <div class="bg-success text-white p-2 rounded text-center flex-fill mx-1">
                                <div>Inward</div>
                                <h3 class="fw-bold" id="inward-t-amount">$0</h3>
                            </div>
                            <!-- Outward Amount -->
                            <div class="bg-primary text-white p-2 rounded text-center flex-fill mx-1">
                                <div>Outward</div>
                                <h3 class="fw-bold" id="outward-t-amount">$0</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card shadow h-100 rounded" id="atm-container">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h5 class="card-title fw-bold">ATM Transaction Status</h5>
                            </div>
                            <div>
                                <a class="btn btn-sm rounded-pill btn-outline-secondary" href="/dashboard/tickets">
                                    <i class="fa fa-external-link"></i>
                                </a>
                            </div>
                        </div>

                        <!-- Successful Transfer Progress Bar -->
                        <div id="atm-container-success">
                            <div class="d-flex align-items-center">
                                <span class="status-icon success-icon"></span>
                                <label for="successProgress">Successful Transfers</label>
                                <span id="success-percentage" class="ms-2"></span> <!-- Span for percentage text -->
                            </div>
                            <div class="progress rounded">
                                <div id="progress-success" class="progress-bar bg-success" role="progressbar"></div>
                            </div>
                        </div>

                        <!-- Failed Transfer Progress Bar -->
                        <div id="atm-container-failed">
                            <div class="d-flex align-items-center">
                                <span class="status-icon fail-icon"></span>
                                <label for="failedProgress">Failed Transfers</label>
                                <span id="failed-percentage" class="ms-2"></span> <!-- Span for percentage text -->
                            </div>
                            <div class="progress rounded">
                                <div id="failedProgress" class="progress-bar bg-danger" role="progressbar"></div>
                            </div>
                        </div>

                        <!-- Declined Transfer Progress Bar -->
                        <div id="atm-container-declined">
                            <div class="d-flex align-items-center">
                                <span class="status-icon declined-icon"></span>
                                <label for="declinedProgress">Declined Transfers</label>
                                <span id="declined-percentage" class="ms-2"></span> <!-- Span for percentage text -->
                            </div>
                            <div class="progress rounded">
                                <div id="declinedProgress" class="progress-bar bg-warning" role="progressbar"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div id="system-container" class="dashboard-block col-md">
                <div class="<%= titles %> mb-2" title="An overview of system cpu and memory usage">
                    <img src="/images/icons/cpu.png" alt="" height="30">
                    <span>System Status</span>
                </div>
                <div class="d-flex gap-2">
                    <div class="col">
                        <div class="small">
                            CPU:
                            <span class="fw-bold text-primary">
                                <span id="cpu-usage">0</span>%
                            </span>
                        </div>
                        <div class="bg-gray mb-2 ">
                            <div id="cpu-usage-bar" class="bg-primary rounded transition"
                                style="width: 0; height: 0.5rem;">
                            </div>
                        </div>
                        <div class="small">
                            Memory:
                            <span class="fw-bold text-danger">
                                <span id="mem-usage">0</span>%
                            </span>
                        </div>
                        <div class="bg-gray mb-2 ">
                            <div id="mem-usage-bar" class="bg-danger rounded transition"
                                style="width: 0; height: 0.5rem;">
                            </div>
                        </div>
                        <div class="small">
                            Root Space:
                            <span class="fw-bold text-success">
                                <span id="storage-usage">0</span>%
                            </span>
                        </div>
                        <div class="bg-gray">
                            <div id="storage-usage-bar" class="bg-success roundedtransition"
                                style="width: 0%; height: 0.5rem;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="col-full">

        <div class="d-flex gap-2 m-0">

            <div class="col-lg-4 col-md-6 col-sm-12" id="unsc-matched-container">
                <!-- UNSC Matched Section -->
                <div class="card shadow mb-1  rounded">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h5 class="card-title mb-3">UNSC Matched</h5>
                            </div>
                            <div>
                                <a class="btn btn-sm rounded-pill btn-outline-secondary" href="/dashboard/tickets">
                                    <i class="fa fa-external-link"></i>
                                </a>
                            </div>
                        </div>

                        <div class="progress mb-1 rounded">
                            <div class="progress-bar bg-danger" id="unsc-progressbar" role="progressbar"></div>
                        </div>

                        <p>
                            <small>
                                <span id="unsc-progressbar-percentage"></span> of matches flagged as high risk
                            </small>
                        </p>
                    </div>

                    <!-- Playbook Method Section -->
                    <div class="border-gray border-top">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h5 class="card-title mb-3">Playbook Method</h5>
                                </div>

                                <div>
                                    <a class="btn btn-sm rounded-pill btn-outline-secondary" href="/dashboard/tickets">
                                        <i class="fa fa-external-link"></i>
                                    </a>
                                </div>
                            </div>

                            <!-- Method and Steps Taken Row with Space Between -->
                            <div class="row mb-2 d-flex justify-content-between">
                                <div class="col-6">
                                    <p><strong>Method:</strong> Alert-Based</p>
                                </div>
                                <div class="col-6 text-right">
                                    <p><strong>Steps Taken:</strong> 4/5</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12" id="pep-container">
                <div class="card shadow rounded">
                    <div class="card-body">
                        <!-- PEP Matched Section -->
                        <div class="d-flex justify-content-between">
                            <div>
                                <h5 class="card-title mb-3">PEP Matched</h5>
                            </div>
                            <div>
                                <a class="btn btn-sm rounded-pill btn-outline-secondary" href="/dashboard/tickets">
                                    <i class="fa fa-external-link"></i>
                                </a>
                            </div>
                        </div>

                        <!-- Progress Indicator -->
                        <div class="progress mb-2 rounded">
                            <div class="progress-bar bg-warning" id="progressPEP" role="progressbar"></div>
                        </div>
                        <p class=" mb-3">
                            <small><span id="pep-progressbar-percentage"></span> of matches flagged as medium
                                risk</small>
                        </p>

                        <!-- Optional Additional Information (Matching Case Summary) -->
                        <h6>Summary</h6>
                        <ul class="list-unstyled" id="pep-summary-container">
                            <li><span class="text-danger font-weight-bold">High Risk:</span> <span
                                    id="pep-highrisk">5</span> matches</li>
                            <li><span class="text-warning font-weight-bold">Medium Risk:</span> <span
                                    id="pep-mediumrisk">10</span> matches</li>
                            <li><span class="text-success font-weight-bold">Low Risk:</span> <span
                                    id="pep-lowrisk">15</span> matches</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Second Box with Playbook Method and TP Breached -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-1" id="tp-breached-container">
                <div class="card shadow h-100">
                    <div class="card-body">
                        <!-- TP Breached Section -->

                        <div class="d-flex justify-content-between">
                            <div>
                                <h5 class="mb-3">TP Breached</h5>
                            </div>
                            <div>
                                <a class="btn btn-sm rounded-pill btn-outline-secondary" href="/dashboard/tickets">
                                    <i class="fa fa-external-link"></i>
                                </a>
                            </div>
                        </div>

                        <div class="progress mb-2 rounded">
                            <div class="progress-bar bg-danger" id="progress-TP" role="progressbar"></div>
                        </div>
                        <p><small><span id="TP-progressbar-percentage"></span> threshold breached in this
                                case</small>
                        </p>

                        <!-- Additional Information or Chart -->
                        <h6>Breached Cases</h6>
                        <ul class="list-unstyled" id="tpbreached-cases">
                            <li><strong>High:</strong> <span id="tp-high-cases"></span> cases</li>
                            <li><strong>Medium:</strong> <span id="tp-medium-cases"></span> cases</li>
                            <li><strong>Low:</strong> <span id="tp-low-cases"></span> case</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="col-full">

        <div class="d-flex gap-2 m-0">

            <!-- AI Suspected Transformation -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-1 d-flex">
                <div class="card shadow p-3 rounded flex-fill">
                    <div class="card-body">
                        <!-- Title -->
                        <div class="d-flex justify-content-between">
                            <div>
                                <h5 class="card-title mb-3">AI Suspected Transformation</h5>
                            </div>
                            <div>
                                <a class="btn btn-sm rounded-pill btn-outline-secondary" href="/dashboard/tickets">
                                    <i class="fa fa-external-link"></i>
                                </a>
                            </div>
                        </div>


                        <!-- Short description -->
                        <p class="text-muted text-center mb-4">
                            AI is continuously scanning for unusual transformations in transaction patterns. Below are
                            the key findings and detected anomalies.
                        </p>

                        <!-- Key Metrics -->
                        <div class="row mb-4">
                            <div class="col-md-12 text-center">
                                <p><strong>Transformations Scanned:</strong> <span class="text-primary"
                                        id="AI-suspected-scan"></span></p>
                                <p><strong>Suspicious Transformations:</strong> <span class="text-danger"
                                        id="AI-suspected-suspicious"></span></p>
                                <p><strong>False Positives:</strong> <span class="text-warning"
                                        id="AI-false-positive-num"></span></p>
                            </div>
                        </div>

                        <!-- Suspicious Transactions Table -->
                        <h5 class="text-center"><strong>Suspicious Transactions</strong></h5>
                        <table class="table table-hover table-sm mt-3">
                            <thead class="thead-light" style="text-align: center;">
                                <tr>
                                    <th>Type</th>
                                    <th>Amount</th>
                                    <th>Confidence</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody style="text-align: center;">
                                <tr>
                                    <td>ATM</td>
                                    <td id="AI-suspected-ATM-amount">$10,000</td>
                                    <td id="AI-suspected-ATM-percentage">95%</td>
                                    <td><span class="badge bg-danger">Flagged</span></td>
                                </tr>
                                <tr>
                                    <td>Wire Transfer</td>
                                    <td id="wire-transfer-amount">$20,000</td>
                                    <td id="wire-transfer-percentage">80%</td>
                                    <td><span class="badge bg-warning">Under Review</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- FP Identification -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-1 d-flex">
                <div class="card shadow-sm p-4 rounded flex-fill">
                    <div class="card-body">
                        <!-- Title -->
                        <div class="d-flex justify-content-between">
                            <div>
                                <h5 class="card-title mb-3">FP Identification</h5>
                            </div>
                            <div>
                                <a class="btn btn-sm rounded-pill btn-outline-secondary" href="/dashboard/tickets">
                                    <i class="fa fa-external-link"></i>
                                </a>
                            </div>
                        </div>


                        <!-- Key Metrics -->
                        <div class="row text-center mb-4">
                            <div class="col-6">
                                <p><strong>Total Transactions:</strong><br> <span class="text-primary font-weight-bold"
                                        id="fp-ident-transaction">5,000+</span></p>
                            </div>
                            <div class="col-6">
                                <p><strong>False Positives:</strong><br> <span class="text-danger font-weight-bold"
                                        id="fp-ident-false-positive">15</span></p>
                            </div>
                        </div>

                        <!-- FP Transaction Table -->
                        <h5 class="text-center mb-3"><strong>False Positives</strong></h5>
                        <table class="table table-hover table-striped text-center">
                            <thead class="thead-light">
                                <tr>
                                    <th>Transaction</th>
                                    <th>Amount</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>TRX1234</td>
                                    <td id="fp-transaction-amount">$5,000</td>
                                    <td><button class="btn btn-warning btn-sm">Mark as Safe</button></td>
                                </tr>
                                <tr>
                                    <td>TRX5678</td>
                                    <td id="fp-transaction-amount">$1,500</td>
                                    <td><button class="btn btn-success btn-sm">Reviewed</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Unassigned -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-1 d-flex">
                <div class="card shadow-sm p-4 rounded flex-fill">
                    <div class="card-body">
                        <!-- Title -->
                        <div class="d-flex justify-content-between">
                            <div>
                                <h5 class="card-title text-center mb-3">Unassigned</h5>
                            </div>
                            <div>
                                <a class="btn btn-sm rounded-pill btn-outline-secondary" href="/dashboard/tickets">
                                    <i class="fa fa-external-link"></i>
                                </a>
                            </div>
                        </div>


                        <!-- Key Metrics -->
                        <div class="row text-center mb-4">
                            <div class="col-6">
                                <p><strong>Total Cases:</strong><br> <span
                                        class="text-primary font-weight-bold">25</span></p>
                            </div>
                            <div class="col-6">
                                <p><strong>Urgent:</strong><br> <span class="text-danger font-weight-bold">5</span></p>
                            </div>
                        </div>

                        <!-- Unassigned Cases Table -->
                        <h5 class="text-center mb-3"><strong>Unassigned Cases</strong></h5>
                        <table class="table table-hover table-striped text-center">
                            <thead class="thead-light">
                                <tr>
                                    <th>Case ID</th>
                                    <th>Priority</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>CASE001</td>
                                    <td>High</td>
                                    <td><button class="btn btn-primary btn-sm">Assign</button></td>
                                </tr>
                                <tr>
                                    <td>CASE002</td>
                                    <td>Medium</td>
                                    <td><button class="btn btn-primary btn-sm">Assign</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="alert-container" class="col-md dashboard-block">
                <div>
                    <div class="d-flex justify-content-between mb-1">
                        <div class="<%= titles %> ">
                            <img src="/images/icons/paper-plane.png" alt="" height="30">
                            <span>Alerts</span>
                        </div>
                        <div>
                            <a class="btn btn-sm rounded-pill btn-outline-secondary"
                                href="/dashboard/reports/monitor#Reports">
                                <i class="fa fa-external-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="input-group pb-2 text-center">
                        <span class="border-bottom flex-fill small">
                            Email and SMS Sent Today
                        </span>
                    </div>
                </div>

                <div class="row gx-1 py-1 fw-bold">
                    <div class="col-md text-center">
                        <a href="/dashboard/reports/list/email#Reports" class="reset-a clickable-h">
                            <div id="alert-email" class="fs-4">
                                <div class="spinner-grow" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            <small>Emails</small>
                        </a>
                    </div>
                    <div class="col-md text-center text-primary">
                        <a href="/dashboard/reports/list/sms#Reports" class="reset-a clickable-h">
                            <div id="alert-sms" class="fs-4 text-primary">
                                <div class="spinner-grow" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            <small>SMS</small>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="col-full fade-in delay-9">
        <div class="p-3 bg-white rounded shadow-sm">
            <div id="world-map-container" class="pe-3">
                <div class="spinner-grow" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div id="world-map-info">
                <i class="fa fa-circle-info"></i>
                Please select an IP Address for quick view
            </div>
        </div>
    </div>

    <script>

        function getCpuStabilityScore(cpuUsage) {
            if (cpuUsage <= 25) {
                return { score: "E", grade: 'Excellent' };
            } else if (cpuUsage > 25 && cpuUsage <= 50) {
                return { score: "G", grade: 'Good' };
            } else if (cpuUsage > 50 && cpuUsage <= 75) {
                return { score: "M", grade: 'Medium' };
            } else if (cpuUsage > 75 && cpuUsage <= 90) {
                return { score: "L", grade: 'High' };
            } else if (cpuUsage > 90) {
                return { score: "C", grade: 'Critical' };
            }
        }

        // system status
        loadDynamicData({
            container: "",
            url: "/content/dashboard/status",
            type: "GET"
        }, (data) => {

            if (data.cpu) {

                let cpu_usage = parseFloat(data.cpu).toPrecision(2) ?? 0;
                cpu_usage = cpu_usage > 99 ? 100 : cpu_usage;

                let mem_usage = parseFloat(data.memory).toPrecision(2) ?? 0;
                mem_usage = mem_usage > 99 ? 100 : mem_usage;

                let storage_usage = parseFloat(data.storage).toPrecision(2) ?? 0;
                storage_usage = storage_usage > 99 ? 100 : storage_usage;

                let stability = getCpuStabilityScore(cpu_usage);

                $("#cpu-usage").text(cpu_usage);
                $("#mem-usage").text(mem_usage);
                $("#storage-usage").text(storage_usage);
                $("#cpu-usage-bar").css('width', cpu_usage + "%");
                $("#mem-usage-bar").css('width', mem_usage + "%");
                $("#storage-usage-bar").css('width', storage_usage + "%");

                $("#system-stability").text(stability.score);
                $("#system-stability").attr('title', stability.grade);

            }

        }, 3000); // 2 seconds

        // transaction information
        loadDynamicData({
            container: " ",
            url: '/dashboard/transaction-info'
        }, (data) => {
            $('#inward-t-amount').html('$' + data.inward);
            $('#outward-t-amount').html('$' + data.outward);
        }, 10000)


        //atm transaction
        loadDynamicData(
            { container: "#atm-container", url: "/dashboard/atm-transaction" },
            (data) => {
                console.log("ATM Transaction Data:", data); // Log received data
                if (!data) return;

                const successful = data.successful + "%";
                $("#progress-success").css("width", successful);
                $("#success-percentage").text(successful);

                const failed = data.failed + "%";
                $("#failedProgress").css("width", failed);
                $("#failed-percentage").text(failed);

                const declined = data.declined + "%";
                $("#declinedProgress").css("width", declined);
                $("#declined-percentage").text(declined);
            },
            60000
        );




        // cve vulnerabilities
        loadDynamicData({
            container: "#cve-container",
            url: "/content/dashboard/cve",
            type: "GET"
        }, (data) => {

            $("#daily-cve").html(formatNumber(data.daily_cve));
            $("#total-cve").html(formatNumber(data.total_cve));

        }, 120000); // 2 minutes

        // alerts
        loadDynamicData({
            container: "#alert-container",
            url: "/content/dashboard/alerts",
            type: "GET"
        }, (data) => {

            // changes by date
            $("#alert-sms").html(formatNumber(data.sms_daily));
            $("#alert-email").html(formatNumber(data.emails_daily));

        }, 120000); // 2 minutes

        // connectivity world map
        loadDynamicData({
            container: "#world-map-container",
            url: "/dashboard/world/map",
            type: "GET"
        }, (data) => {

            $("#world-map-container").html(data);

        }, 120000); // 2 minutes

        // ticket status
        loadDynamicData({
            container: "#ticket-container",
            url: "/content/dashboard/tickets/count?tab=all",
            type: "GET"
        }, (data) => {

            $("#open-ticket-count").html(data.open || 0);
            $("#closed-ticket-count").html(data.closed || 0);
            $("#expired-ticket-count").html(data.expired || 0);
            $("#all-ticket-count").html(data.all || 0);

        }, 120000); // 2 minutes

        // ioc highlight
        loadDynamicData({
            container: "#ioc-container",
            url: "/content/dashboard/ioc",
            type: "GET"
        }, (data) => {

            // changes by date
            $("#ioc-total").html(formatNumber(data.ioc[0]?.total));
            $("#ioc-malicious").html(formatNumber(data.ioc[0]?.total_events));

        }, 120000); // 2 minutes

        // notices
        loadDynamicData({
            url: "/content/dashboard/notices",
            type: "GET"
        }, (data) => {

            $("#notices-container").html(data);

        }, 120000); // 2 minute

        // risk monitor
        loadDynamicData({
            container: "#risk-container",
            url: "/content/dashboard/risks",
            type: "GET"
        }, (data) => {

            let low_risks = Math.ceil(data.low_risks || 0);
            let medium_risks = Math.ceil(data.medium_risks || 0);
            let high_risks = Math.ceil(data.high_risks || 0);

            let overflow = (low_risks + medium_risks + high_risks) - 100;

            if (low_risks > medium_risks) {

                if (low_risks > high_risks) {

                    low_risks -= overflow;

                } else if (high_risks > low_risks) {

                    high_risks -= overflow;

                }

            } else {

                if (medium_risks > high_risks) {

                    medium_risks -= overflow;

                } else if (high_risks > medium_risks) {

                    high_risks -= overflow;

                }

            }

            let risk_score = (low_risks * 0.1) + (medium_risks * 0.5) + (high_risks * 1);
            let or_score = ((risk_score / 100) * 10);

            $("#high-risk").text(high_risks);
            $("#medium-risk").text(medium_risks);
            $("#low-risk").text(low_risks);
            $("#high-risk-status").css('width', high_risks + "%");
            $("#medium-risk-status").css('width', medium_risks + "%");
            $("#low-risk-status").css('width', low_risks + "%");
            $("#or-score").text(or_score.toFixed(1));
            $("#or-grade").text(getRiskGrade(or_score).text);

        }, 60000); // 1 minute

        function getRiskGrade(risk_score) {
            if (risk_score <= 3.9) {
                return { symbol: "L", text: "Low", color: "text-success" };
            } else if (risk_score > 4.0 && risk_score <= 6.9) {
                return { symbol: "M", text: "Medium", color: "text-primary" };
            } else if (risk_score > 7.0 && risk_score <= 8.9) {
                return { symbol: "H", text: "High", "color": "text-warning" };
            } else if (risk_score > 9.0) {
                return { symbol: "C", text: "Critical", color: "text-danger" };
            }
        }

        // assets monitor
        loadDynamicData({
            container: "#assets-container",
            url: "/content/dashboard/agents",
            type: "GET"
        }, (data) => {

            $("#wazuh-active-count").html(data.wazuh.active || 0);
            $("#wazuh-inactive-count").html(data.wazuh.inactive || 0);
            $("#cloud-active-count").html(data.cloud.active || 0);
            $("#cloud-inactive-count").html(data.cloud.inactive || 0);

        }, 60000); // 1 minute

        // fim highlight
        loadDynamicData({
            container: "#fim-container",
            url: "/content/dashboard/fim",
            type: "GET"
        }, (data) => {

            // changes by date
            $("#fcd-today").html(formatNumber(data.fcd[0]?.changes));
            $("#fcd-yesterday").html(formatNumber(data.fcd[1]?.changes));

        }, 60000); // 1 minute

        // for world connectivity map
        function loadIPInfo(ip) {

            let con_id = "#world-map-info";

            fetchDynamicData({
                container: con_id,
                url: "/dashboard/world/map/info?ip=" + ip
            }, (data) => {

                $(con_id).html(data);

                window.location.href = con_id;

            })

        }

        function getTotalCount(obj) {
            let totalCount = 0;
            for (const key in obj) {
                if (Object.hasOwnProperty.call(obj, key)) {
                    totalCount += obj[key];
                }
            }
            return totalCount;
        }

        /* eps graph */
        let eps_options = {
            series: [{
                name: "Events received",
                data: []
            }],
            chart: {
                type: 'area',
                zoom: {
                    enabled: true,
                    allowMouseWheelZoom: true
                },
                height: 150,
                toolbar: {
                    show: false
                },
                animations: {
                    enabled: false,
                }
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                width: 3,
            },
            markers: {
                hover: {
                    sizeOffset: 4
                }
            },
            xaxis: {
                tickPlacement: 'on',
                categories: [],
                labels: {
                    rotate: -45,
                    rotateAlways: true
                }
            },
            yaxis: {
                min: 0,
            }
        };

        let eps_url = "/content/dashboard/eps?range=1h";
        let chart_type = "bar";
        let eps_chart = new ApexCharts(document.querySelector("#events-per-sec"), eps_options);
        eps_chart.render();

        updateEPS(eps_url);
        setInterval(() => updateEPS(eps_url), 60000);

        function updateEPS(url) {

            fetchDynamicData({
                container: "#events-per-sec-container",
                url, type: "GET"
            }, (data) => {

                let categories = data?.range || [];

                eps_chart.updateOptions({
                    xaxis: {
                        categories: categories.reverse()
                    }
                }, false, true);

                eps_chart.updateSeries([{
                    data: data.series_data.reverse() || []
                }]);

            });

        }

        function changeEPS(time_range) {

            eps_url = "/content/dashboard/eps?range=" + time_range;
            updateEPS(eps_url);

        }

        // load latest cves
        loadDynamicData({
            container: "#latest-cve-container",
            url: "/content/dashboard/latest-cves",
            type: "GET"
        }, (data) => {
            if (data.trim() !== "<!-- dynamic component -->") {
                $("#cve-table-body").html(data);
            } else {
                $("#cve-table-body").html(`<td class="px-2 text-muted"><i class="fa fa-box-open fs-3"></i> <br>No CVEs found so far</td>`);
            }
        }, 60000);

        // ai analysis vectors
        loadDynamicData({
            container: "#ai-analysis-container",
            url: "/dashboard/ai/analysis/data",
            type: "GET"
        }, (data) => {
            if (data.trim() !== "<!-- dynamic component -->") {
                $("#ai-analysis-body").html(data);
            } else {
                $("#ai-analysis-body").html(`<div class="px-2 small text-muted"><i class="fa fa-box-open fs-3"></i> <br> No Attack Vectors Detected yet!</div>`);
            }
        }, 60000);

    </script>